<h1><%= @pirates.name %></h1>
 <h3><%= @pirates.weight %></h3>
 <h3><%= @pirates.height %></h3>


<h2><%= @ships[0].name %></h2>
<h2><%= @ships[0].type %></h2>
<h2><%= @ships[0].booty %></h2>
<h2><%= @ships[1].name %></h2>
<h2><%= @ships[1].type %></h2>
<h2><%= @ships[1].booty %></h2>